h1{
    text-align:center;
}
body{
background: #BFBFBF;       
}

td{
text-align:center;
border:px #000000 dotted;

}

.sin{
border:0;
}

.bot{
padding:0 5px;
display:inline;
border:0;
}

.primera_fila{
font-size:1.2em;
background-color: #06A1FF;
}

.centrado{
text-align:center;
}
.introducirTarea{
text-align:center;
}
